[2020-06-03 11:47] mrousavy opened #1 "Support other discovery modes"
## Problem
Currently only .BLE is supported as a discovery mode. The Nearby API also supports .Audio (on Android it also differs between .BLE and .Bluetooth).

## Solution
Add an enum (typescript OR type) to select the discovery mode for the native API. On the Native side, either define those strings and switch between ("ble", "audio", "both", "default"?), create an NSEnum, or use Integers and map

[2020-06-03 11:48] mrousavy opened #2 "Fix npm package size"
whoops! Must've left some libs in my package.json files... 😬

![image](https://user-images.githubusercontent.com/15199031/83633154-c5329b80-a5a0-11ea-9e1c-39987c4aeca5.png)

[2020-06-03 11:51] mrousavy opened #3 "Check if Bluetooth is available"
## Problem
When trying to call connect() and publish()/subscribe() on a device that doesn't support Bluetooth (react-native-permissions returns 'unavailable'), for example the iOS Simulator, the App just exits with a EXEC_BAD_ACCESS error.

## Solution
Add a safe availability check before calling the Nearby API. Unfortunately the Nearby API doesn't provide a function for that, only a has permissio

[2020-06-03 11:54] mrousavy opened #4 "Duplicate Resources (Assets.car)"
## Problem
The Google Nearby Pod adds the `Assets.car` file to **[CP] Copy Pods Resources** in the .xcodeproj file, which makes building impossible, as another Assets.car resource is already defined, meaning they would overwrite eachother.
This is a known issue of the Google Nearby API, but I'm sure there are easy workarounds for that such as a **post_install** Podfile hook. Problem is I don't kno

[2020-06-03 12:27] #2 closed

[2020-06-04 12:49] mrousavy opened #5 "Implement lifecycle management"
## Problem
When the Activity/UIView gets destroyed, the Google Nearby Messages object stays active (I think). Meaning: Published messages stay published, Subscriptions emit found/lost events and other events like Errors still get emitted.

## Solution
Call unsubscribe and unpublish in Activity/UIView pauses, and re-subscribe and re-publish (with the same message) again in resume. On Activity/UIVie

[2020-06-04 16:41] mrousavy commented on #3
It would work if I created a `CBCentralManager` instance, wait for it to power on and the resolve the promise if the `status` equals `poweredOn` instead of anything else. Seems like a wack hack tho

[2020-06-05 08:32] mrousavy commented on #5
Looks like 61afd656819ff4339df25e9a2c1a9f0a64626803 and 6641c8454f43723e9ccd79ef92514ad0d592c4f3 fixed this. When the Activity/UIView context gets destroyed (e.g. react native reload from Metro) the Nearby API stops publishing and subscribing, and destroys the underlying opened bluetooth connections.

I could still implement `onHostPause` and `onHostResume` to disconnect and reconnect any Nearby o

[2020-06-05 08:32] #5 closed

[2020-06-05 09:22] mrousavy commented on #3
Done. iOS powers on a `CBCentralManager` instance and resolves when the delegate status-changed func gets called.
Also, after 10 seconds it rejects with a timeout error.
See: f9f9c98a72297d116be9d90b2484eec001ab4f13

[2020-06-05 09:22] #3 closed

[2020-06-11 23:26] LeviWilliams opened #6 "Functional Component Usage"
Hey,

Thanks for creating this package its a lifesaver. It would be super helpful if you could post examples in the documentation of usage inside of an app that utilizes functional components with hooks. Been using your example to try to build it but I think the flow is confusing to convert to without any insight. Setting the event listeners in useEffect along with the flow of checking permissions

[2020-06-12 09:10] mrousavy commented on #6
I've designed this library with a class component approach, that's why the `connect`, `publish` and `subscribe` functions are async.

I currently rewrote my App to use functional components as well, and used this setup in my current solution:

[code]

This is not really an elegant solutions, so I'm currently thinking about 2 approaches:

1. Make the Nearby API an object-oriented API: you create an

[2020-06-12 19:25] LeviWilliams commented on #6
Interesting. I don't think there is any issue with the example you provided, it makes total sense. It turns into a problem when you add the permissions flow in along with any type of complexity at all. For example: check permissions, request permissions, add listeners/publishers, on change listener fetch data (or something). It quickly turns into a mess of an async function inside useEffect. My cu

[2020-06-12 21:43] LeviWilliams commented on #6
Also I tried implementing your example but I couldn't quite get it to work. Do you see anything wrong with this??

[code]

[2020-06-12 21:46] mrousavy commented on #6
the function you're calling connect/publish in won't get executed until you call it, which you only do in the "componentWillUnmount" logic. (disconnect() call).

So rename it to startNearby or something and call it before the return, and in the return you call the nearby API function "disconnect()".

[2020-06-12 21:59] LeviWilliams commented on #6
Yes sorry for the stupid question, so far deep into this at this point I didn't see that glaring mistake hahaha. I see in your example "disconnect" is block scoped to your connect function, how then do you call disconnect in the return?

[2020-06-13 09:26] mrousavy commented on #6
Whoops, fixed it. See my edit. The disconnect() function is from the nearby API and also unpublishes/unsubscribes. I need to call the startNearby() func tho because otherwise that just gets declared and never called.

[2020-06-13 20:23] LeviWilliams commented on #6
Of course, this library is awesome! I'm sorry if I'm missing something glaringly obvious - there is no exported "disconnect" method from the api. I can see the connect function returns an unsubscriber function, is that what you mean?

[2020-06-13 20:27] mrousavy commented on #6
The `connect` function does indeed return an unsubscriber which is just the `disconnect` function wrapped, but you can't really use that in your `useEffect` because the `connect` function is async... I'll gladly accept pull requests with better solutions for the API structure, or do it on my own sometimes in the next few weeks (when I'm done with my current project, which btw led to the developmen

[2020-06-13 20:36] dependabot-preview[bot] opened #7 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-06-13 20:37] #7 closed

[2020-06-15 16:43] LeviWilliams commented on #6
Yep sorry TSLint problem. Those specialized hook ideas are interesting. They definitely work better than always having mounted subscribers but it does seem a little specialized I agree. I'll make my own hook too in my project and see if I have a better idea.

[2020-06-15 20:00] LeviWilliams opened #11 "Permissions Error Android"
Currently have been trying to get this library working on Android with no luck. First thing I discovered is that if google play services is out of date the addOnErrorListener will return a permissions error and the app will crash. Even if the app has full permissions. Often (but not every time) on first load the app will prompt the user to give the app correct permissions if they have not already

[2020-06-15 20:01] LeviWilliams commented on #11
Also will test on a Samsung Galaxy Tab E later and see if the error persists.

[2020-06-15 20:02] LeviWilliams commented on #11
Forgot to mention iOS Devices work fine. Will also test this issue on a Samsung Galaxy Tab E later to see if the issue persists.

[2020-06-15 20:09] mrousavy commented on #11
Okay that's really weird, unfortunately I don't have an android device right now, I'll try to get one from somewhere asap.

The permission flow is really hard to keep track off, could you in the meantime maybe try starting the app in debug mode in android studio and reproduce the problem? Knowing which line of code is the problem will help me fix this problem.

I'm guessing the pre-condition check

[2020-06-15 20:21] LeviWilliams commented on #11
Yes I've been looking into it, at first I figured it must just be an outdated play services problem but its seems to be more than that.

I've done everything from reinstall the app, to update the phone, to remove and reset play services. It doesn't seem like its actually a permissions error but I could be wrong. I will try to reproduce in Android Studio.

To clarify as well - when I console log "k

[2020-06-15 21:04] LeviWilliams commented on #11
On the Android emulator it also doesn't get passed the checking of permissions phase, as expected though right? I don't think it can run on there regardless.

On the Samsung tablet so far I can't even get the app to load, it's crashing due to this lib. Gonna do some more digging there and see if it's related.

[2020-06-15 21:34] LeviWilliams commented on #11
In regards to the tablet, after lots of updates and reinstalling/clearing cache I got it to load up but I get the same error cited in the orginal post. Seems to be consistent between devices and Android versions.

[2020-06-15 22:17] JoaoPV commented on #11
Hi, just created a project with "react-native": "0.62.2" and using  'com.google.android.gms:play-services-nearby:17.0.0',  but i'm getting the same error as above:  console.error : 'PERMISSIONS ERROR false' when trying to connect.

[2020-06-16 09:17] mrousavy commented on #11
So the PERMISSION_ERROR comes from here:

https://github.com/mrousavy/react-native-google-nearby-messages/blob/master/android/src/main/java/com/mrousavy/nearby/GoogleNearbyMessagesModule.kt#L73

Which is stupid, since it doesn't have an error and should work anyways. I should definetly get rid of the `hasError` property, if it doesn't have an error just don't emit the event.

1. does your android

[2020-06-16 09:26] mrousavy commented on #11
@LeviWilliams @JoaoPV I've just pushed https://github.com/mrousavy/react-native-google-nearby-messages/commit/b1693034347a5b51c016968e185a042f14afe712 - would be awesome if you could try running the `example/` app on your android device.

In the meantime, I'll try to get my hands on an android device.

[2020-06-16 18:13] LeviWilliams commented on #11
I was unable to get the test repo running on my android device - all kinds of random errors unrelated to this issue. Wasted way too much time trying to get it working to no avail.

I don't think this is a big breaking change anyway shouldn't we be good to push it up npm/yarn?

[2020-06-17 06:43] mrousavy commented on #11
@LeviWilliams I've published it to npm, please check it out if that works for me. Be aware that I have not tested it!

[2020-06-17 07:54] mrousavy commented on #6
@LeviWilliams I've written some hooks (1.0.10 release), take a look if you're interested.

For the restructure, I'm still not sure how I wan't to achieve it, I'm thinking about making this a class component, so being object oriented, but I couldn't find any resource or documentation for react native modules on making them object oriented instead of singletons.

[2020-06-17 14:27] JoaoPV commented on #11
@LeviWilliams  i will try today.

[2020-06-17 19:09] LeviWilliams opened #12 "Background Usage"
This is more of a feature request/question. I've been looking into using this library to still detect devices while running in the background. Obviously I could register a headless component for android but this does not work in iOS. We would have to write a native iOS bridge to stay cross-platform and support this running in the background.

I do not have much experience in this and thus I'm wond

[2020-06-17 20:13] LeviWilliams commented on #11
Tested the new version along with the hooks on both android devices, works fine!

[2020-06-17 21:44] LeviWilliams commented on #11
This removed the error cited initially. Now I am getting "The Messages Client was null. Did GoogleNearbyMessagesModule native constructor fail to execute?" along with crashes on Android. Trying to pinpoint the error and if this is something completely different.

[2020-06-17 22:39] mrousavy commented on #12
Yes, this is certainly possible! (as far as the native implementation goes at least)

See the official google nearby docs, they have a part specific for background tasks.

I'm not planning on adding this myself in the near future - it should not be a lot of code though so if you do, create a PR and I'll review & merge it. :)

[2020-06-17 22:45] mrousavy commented on #11
@LeviWilliams The connect() function initializes the messages client, so there has to be an error being thrown before the client could be initialized. Maybe the error message was right after all? I'll look into this tomorrow, it's 1am in austria rn

[2020-06-17 23:15] LeviWilliams commented on #11
@mrousavy Sounds good, can't quite pinpoint what this issue specifically is. I got that to log twice but most of the time the app just crashes and the logs don't indicate much.

[2020-06-18 10:20] mrousavy commented on #11
Yep, it's an error thrown in `connect()`. Are you sure you called `connect()` before calling `publish()` or `subscribe()`? (My hooks will do this for you)
Because the message client can only be null when either `connect` was not called, or there was an error thrown in `connect` (put a try catch around).

I'm looking into this. I think I'll get my hands on an android device next week.

[2020-06-19 00:29] LeviWilliams commented on #11
Yes, the error only persists on Android. Using the hooks produces no issues on iOS. I am using the hooks in this order: publication, error callback, and isNearby. Also had intermittent crashes on the android emulators. I'll do some more isolated debugging and see what I can find.

[2020-06-19 00:30] LeviWilliams commented on #6
Closing this issue as hooks have been added and docs updated.

[2020-06-19 00:30] #6 closed

[2020-06-23 20:15] LeviWilliams commented on #11
Hey everyone, with more testing done I've narrowed it down to the publish function. Went error hunting in the hooks and also just using the functions themselves.

Connect and subscribe seem fine but the app freezes or crashes once it hits the publish function. I was unable to find any specific type of error message to indicate what is actually happening. Maybe the disconnect isn't actually unpubli

[2020-06-24 07:40] mrousavy commented on #11
@LeviWilliams
The `publish` function does not contain enough logic on my side that it can cause a crash.

The thing is, I'm calling the publish function from the official Google Nearby Messages lib, and add an `onCompleteListener`. Apparently, Google's func doesn't complete at all, that's why you're seeing freezes. I reject and resolve the promise at any point the function could possibly return in

[2020-06-24 19:04] LeviWilliams commented on #11
@mrousavy

Before I dug around too deep in Android Studio and switched over to version 1.0.12. Now I'm getting the exact same type of freezing in the subscribe hook instead of publish. I'm guessing the real problem was always subscribe but for some reason my initial debugging indicated otherwise. The freeze is around 30sec-1 min sec on average and only takes place when another device is actually i

[2020-06-24 19:15] LeviWilliams commented on #11
Here is an example of the flow of me opening an ios device first and then the android device, the message is lost on ios because the app crash on android.

![image](https://user-images.githubusercontent.com/32551245/85617618-cba2b900-b61c-11ea-8448-c60dd0192b6f.png)

[2020-06-26 02:34] zaptrem opened #15 "2 duplicate symbols architecture arm64 (unless I use a pod post-install script)"
Here's the error:

[code]

This is resolved by using this script:
[code]

Any idea why you didn't experience this?

[2020-06-26 04:45] zaptrem commented on #4
Adding this to the top of the Podfile fixes the issue, though hypothetically at a performance cost:

`install! 'cocoapods', :disable_input_output_paths => true`

[Source](https://github.com/CocoaPods/CocoaPods/issues/8122)

[2020-06-26 07:19] mrousavy commented on #15
That's really weird, haven't seen that bug before. Are you building release or debug?

[2020-06-26 07:40] mrousavy commented on #4
Nice find! I've added that to the [Troubleshooting Page](https://github.com/mrousavy/react-native-google-nearby-messages/blob/master/TROUBLESHOOTING.md) (5.).

I'm leaving this issue open, since this is a workaround, not a fix ;)

[2020-06-26 08:38] mrousavy commented on #11
![image](https://user-images.githubusercontent.com/15199031/85837902-029dd980-b799-11ea-9326-daa820c68096.png)

Maybe it's because of this line? Can you try changing this to `.BLUETOOTH`, `.BLE`, `.DEFAULT`, `.NONE` and see if that makes any difference? (It's in the `connect` function in `GoogleNearbyMessagesModule.kt`)

[2020-06-26 10:03] mrousavy commented on #11
@LeviWilliams I've just published 1.0.13 on npm. It requires a new API for the connect function, which allows you to change those modes in the comment above. Try tweaking those options and use different `discoveryMediums`, then tell me which one has worked. Unfortunately I couldn't find any docs on the Google Nearby Messages API page which explain how to change the discovery mediums on android, th

[2020-06-26 11:13] mrousavy commented on #12
@LeviWilliams The Google Nearby Messages documentation has an entry for background operation [here](https://developers.google.com/nearby/messages/ios/pub-sub#background_operation), so you could try to set the background mode in my swift code to true yourself and experiment with it.

If you got something working, let me know, so we can implement this feature.

[2020-06-26 13:08] mrousavy commented on #1
Fixed with https://github.com/mrousavy/react-native-google-nearby-messages/commit/8c090bb8bbb16d3794154ae21910e1844b5f0670.

awesome work guys

[2020-06-26 13:08] #1 closed

[2020-06-26 13:08] mrousavy commented on #1
with "guys" i mean myself

[2020-06-26 13:15] mrousavy commented on #11
I've rewritten the Strategy Builder from google since they somehow forgot to add a setter for the discovery medium. What are they doing over there?

Anyways, v1.0.14 is on npm, and I've tested it with a friend - we fixed the crash but the `subscribing()` func never completes. Maybe I'm adding the wrong `onCompleteListener`..? The error messages tells something about a Google Play Services error, w

[2020-06-26 18:16] wimvdb opened #16 "StackOverflow onFound - android"
Hello,

I followed the setup from the example project to send a message from ios to android on 2 real devices and got a stackoverflow on the android device:

[code]

On ios everything seems fine.

I'm using "react-native-google-nearby-messages": "^1.0.14"

The code:

[code]

[2020-06-26 19:05] LeviWilliams commented on #16
This 100% is the same error we're dealing with over on #11 @mrousavy, this matches up with everything I've experienced on physical devices as well.

[2020-06-26 21:19] LeviWilliams commented on #11
@mrousavy v1.0.14 broke my iOS app even, "excessive number of pending callbacks" causing app deadlock and crashes. I'm just using the same hooks as before. Also can't get the app running on Android.

[2020-06-27 13:29] mrousavy commented on #11
@LeviWilliams can you share your code so I can test your example? I got it working on iOS without any problems. (v1.0.18)

I'm even using the hooks. Just be aware that by passing in the `NearbyConfig` you have to memoize it using `useMemo` so it does not get re-created every re-render and therefore trigger infinite re-renders.

See: [the hooks docs in the README](https://github.com/mrousavy/react-

[2020-06-28 11:18] #16 closed

[2020-06-28 11:21] mrousavy commented on #11
@LeviWilliams can you test again with v1.0.20? Accidentally referenced the wrong `onFound` in my callback causing the StackOverflow exception, which is fixed now thanks to @wimvdb (see: #17)

[2020-06-29 19:34] LeviWilliams commented on #11
@mrousavy all bugs mentioned in this thread fixed in version 1.0.20 - closing this issue.

[2020-06-29 19:34] #11 closed

[2020-06-29 19:35] mrousavy commented on #11
finally lmao

thanks for your help @LeviWilliams

[2020-06-30 19:07] LeviWilliams commented on #15
I experienced this issue a few times randomly, clearing build cache and restarting Xcode resolved the problem.

[2020-07-09 14:42] shunnmugam opened #25 "[QUESTION] Unkown error occured while connection"
# Question
While trying example application it's showing
2806 : Forbidden

# Environment

[code]

[code]

[2020-07-14 05:15] zaptrem commented on #12
+1 on this. Don't currently have an Android dev/testing workflow set up to work on it, but I'll follow this with interest!

[2020-07-14 19:12] LeviWilliams commented on #12
I also don't have much of a workflow set up, I've messed around with the Swift a bit but nothing substantial yet. If anyone has more experience dealing with this I'd definitely help test the PR.

[2020-07-22 15:28] LeviWilliams commented on #25
Steps to reproduce? Are you able to run the example app?

[2020-08-11 03:51] joseL02 opened #38 "Can I list all nearby devices that use my app? [QUESTION]"
# Question

Put extra details for the question here

# Environment

[code]

[code]

[2020-08-12 06:08] shankar101 commented on #38
I am using the example code, but nothing I found nearby devices. Anyone can help me with this.

Here is my code...

import React, { useState, useCallback, useEffect } from 'react';
import { StyleSheet, Text, View, Alert,TouchableOpacity } from 'react-native';
import {
  connect,
  publish,
  subscribe,
  checkBluetoothPermission,
  checkBluetoothAvailability,
  useNearbyErrorCallback,
  disconnect

[2020-08-24 13:56] shankar101 opened #44 "Need to work this Google Nearby Feature Without Internet and wifi"
"react": "16.11.0",
"react-native": "0.62.2",
"react-native-google-nearby-messages": latest
[code]

[2020-08-24 13:57] shankar101 commented on #38
Thank you for Your Sdk, It is working. Please help me, How I can share msg when I will be offline.
Already I raise one question also.

[2020-08-24 15:40] mrousavy commented on #38
@shankar101 when a broadcasting device goes offline, clients that previously saw the broadcasted message will receive a "lost message" event. subscribe to that.

[2020-08-24 15:40] mrousavy commented on #44
@shankar101 could you provide more details? are you seeing any error messages?

[2020-08-27 07:15] shankar101 commented on #44
I am using the example code, but nothing I found nearby devices. Anyone can help me with this.

Here is my code...

import React, { useState, useCallback, useEffect } from 'react';
import { StyleSheet, Text, View, Alert,TouchableOpacity } from 'react-native';
import {
connect,
publish,
subscribe,
checkBluetoothPermission,
checkBluetoothAvailability,
useNearbyErrorCallback,
disconnect,
} from 'reac

[2020-08-27 07:16] shankar101 commented on #44
@mrousavy How will I send data without internet using google nearby, Please help me once

[2020-08-27 10:32] mrousavy commented on #44
To send messages you need WiFi/Bluetooth. Please read this for more info: https://developers.google.com/nearby/messages/overview

[2020-08-27 15:23] shankar101 commented on #44
So can I send msg-type of data using only Bluetooth and not internet connection?
Or the Internet is necessary for this.
My implementation complete, but when I have an internet connection then I rcv my sending data. But if in my mobile internet off and Bluetooth paired then no data coming.
So can you tell me clearly?
I am in big trouble.

[2020-08-27 15:25] shankar101 commented on #44
My requirement is I want to send and rcv data in Flight. In-Flight there have no internet but Bluetooth present.
Please help me.

[2020-08-27 15:48] mrousavy commented on #44
As far as I know, you don't need an internet connection. If you only need Android support, check out Google Nearby Connections instead of Google Nearby Messages.

If you tested your app and it always works with internet, and never works without, then I guess you're out of luck. Try some bluetooth only library

[2020-08-28 04:42] shankar101 commented on #44
Actually I am trying to do this in iOS

[2020-08-28 09:40] mrousavy commented on #44
Then look into the CoreBluetooth APIs, Google Nearby Messages requires an internet connection to work.

[2020-08-28 09:46] shunnmugam opened #46 "[BUG] Not working in background job (https://www.npmjs.com/package/react-native-background-job)"
# Bug

**Describe the bug**
I'm using this library with https://www.npmjs.com/package/react-native-background-job, if app opens everting is fine, while background mode, it's not able to connect

**To Reproduce**
Steps to reproduce the behavior:
1. install react-native-background-job
2. schedule a job
3. call connect method
4. See error

[code]

[2020-08-28 09:50] mrousavy commented on #46
1. Which error do you see?
2. Background mode is not officially supported, some small changes might have to be made to this library's native code for this to work. I think there's a separate issue for this

[2020-08-28 10:10] shunnmugam commented on #46
1. I'm not able to see any errors, it's not connected
try {
await connect({ apiKey: GOOGLE_API_KEY }); -->stopped excution
console.log("after connect") --> it's not going to here
} catch(e) {
  console.log("error",e) --> it's not going to here also
}

2.Can you share how to run in background mode

[2020-08-28 11:36] shunnmugam commented on #46
i found some error while debuging kotlin code

 Attempt to invoke virtual method 'java.lang.String android.content.Context.getPackageName()' on a null object reference

[2020-08-28 11:39] mrousavy commented on #46
I see. We need a background-mode context which will be used for the Nearby API

[2020-08-31 08:32] shunnmugam commented on #46
@mrousavy , how much time will take to fix this?

[2020-09-23 18:41] LeviWilliams commented on #25
Returning back to this issue because I just experienced it, here's the catch error from my subscribe/publish hook: 'Error: 2806: FORBIDDEN. See: https://developers.google.com/android/reference/com/google/android/gms/nearby/messages/NearbyMessagesStatusCodes'

[2020-09-24 07:19] mrousavy commented on #25
That's very weird, especially because the Google Nearby Messages API doesn't give us more info on anything

[2020-09-24 19:00] LeviWilliams commented on #25
Exactly, I did more looking into the error to make sure it wasn't something wrong with my API or the ability to connect to the API and I can't find anything to indicate that. I'll keep looking into this more in my application as I debug.

[2020-09-28 20:38] LeviWilliams commented on #25
@mrousavy Any idea on what this could be? This suddenly popped up in my app and am unable to find a fix, been doing more debugging and have been able to reproduce on several devices. Still unsure about the iOS impact as I've been stuck in iOS 14 update hell.

[2020-09-28 20:40] mrousavy commented on #25
@LeviWilliams Unfortunately I have no idea what's causing this, and I cannot reproduce it so I have to fully rely on you guys. Are you saying you're getting that error since the iOS 14 upgrade?

[2020-09-28 20:42] mrousavy commented on #25
Whoops, just read you're talking about android. I'll check if there are any outdated packages tomorrow morning, like the google services.

[2020-09-28 20:43] LeviWilliams commented on #25
Perfect, it could be an Android specific thing I've just been having xCode issues so haven't been able to reproduce yet.

[2020-09-30 19:51] LeviWilliams commented on #25
Nothing wrong on the iOS side it seems, couldn't find anything wrong. @mrousavy any updates on the packages?

[2020-10-01 11:39] LakshmiMonisha commented on #46
@mrousavy , By when the bug would be fixed or else could you suggest any alternative?

[2020-10-03 21:23] LeviWilliams commented on #25
Hey sorry to bug you man @mrousavy , I've just still been unable to use my android app in production so trying to identify issues. Thanks for your help!!

[2020-10-03 21:33] mrousavy commented on #25
@LeviWilliams sorry, I've been kinda busy with uni. I've got an exam this week, I'll see if I can find some time to take a look at this. Maybe there has been a bug at the official Nearby Messages API from Google, since I didn't change anything.

[2020-10-05 16:48] LeviWilliams commented on #25
Sounds good @mrousavy , seems like it could be a google bug as this seemed to not appear in any of my production apps until recently. Especially since it seems to only occur when publishing a message.

[2020-10-13 04:34] alexzkazu opened #66 "[BUG] If Device A publishes again after initial load, it disconnects from Device B"
# Bug

**Describe the bug**
When I try to publish a stringified object on Device A after it published on the initial load, it seems to drop Device A's connection with Device B

**To Reproduce**
Steps to reproduce the behavior:
1. Publish a stringified object on the device A, and see from device B that Device A has dropped

**Expected behavior**
Device A and Device B should remain connected after t

[2020-10-13 17:21] LeviWilliams commented on #66
Interesting, I haven't experienced this dropping in my production apps. Do you experience the issue with the app open on both devices and the message suddenly dropping? Is there some kind of rerender or maybe it has to do with how you've implemented the logic? Are you using hooks?

[2020-10-14 05:19] alexzkazu commented on #66
Hey @LeviWilliams , yeah this happens when the app is open on both devices.

I modified the example app to give this a try.. I'm still new with hooks so I might've made a mistake somewhere:

[code]

[2020-10-18 21:02] alexzkazu commented on #66
Well, I put the TextInput component directly in the return statement, and wrapped onSubmitEditing in a useCallback, and that seems to have fixed it so I'll be closing this. Thanks!

[2020-10-18 22:01] alexzkazu commented on #66
Actually, upon doing this several times, the issue occurred again. I tried using the

[2020-10-19 15:56] LeviWilliams commented on #66
@alexzkazu Yes, if you're switching what you're publishing or the component is remounting before a new publish you need to call "unpublish()" to make sure all existing publications are removed. "Make sure to unpublish, disconnect and remove any listeners as they won't be removed automatically!" - from the docs.

Just a piece of advice too - from what I can gather there this is kind of a complex wa

[2020-10-21 17:33] LeviWilliams commented on #25
Ever seen this @zaptrem ?

[2020-10-21 17:38] zaptrem commented on #25
Yes, I think. Check the documentation on permissions. Google isn't explicit enough that on Android it requires either the precise location permission to be granted or the "Nearby Messages" permission (or something like that). I just went with the precise location one. @LeviWilliams @mrousavy

[2020-10-21 18:33] LeviWilliams commented on #25
@zaptrem Here are the permissions I have:
[code]

[2020-10-21 18:52] zaptrem commented on #25
The permission has to be programmatically requested and granted. Having it in the manifest just allows you to request it, it doesn’t guarantee  it.

[2020-10-21 19:03] mrousavy commented on #25
@zaptrem how do you request the permission? I'd like to implement that logic in a `requestBluetoothPermission()` func 🔥

[2020-10-21 19:15] LeviWilliams commented on #25
@zaptrem I granted all three permissions (coarse, fine, and record audio) to test using react-native-permissions and it still doesn't change the issue in this thread. @mrousavy also granted permissions in the example app and didn't change the issue.

[2020-10-29 22:31] Mhde96 opened #76 "what this library do"
i install this library with example
and i don't know what can i do in this library

please explain or give me link for more details

Edit
i run this example on tow device and discovered
but what i can do after that

[2020-10-30 08:00] mrousavy commented on #76
![Screenshot 2020-10-30 at 08 58 50](https://user-images.githubusercontent.com/15199031/97674626-21d1ae00-1a8e-11eb-8b4a-4410b095814c.png)

As mentioned in the "About" page, you can publish strings and other users can see those strings when they are nearby. Using this you can build stuff like nearby secret chats, validation that users are nearby, crypto stuff, etc.

[2020-10-30 11:41] Mhde96 commented on #76
Thx Pro
can i get information like
 Device name - bluetooth mac address -

[2020-12-11 21:51] joseL02 commented on #25
Hi! i haved the same problem i was reolve deleting the android api key because, was two android key.

[2021-01-01 12:21] crystalcase opened #89 "[FEATURE] onBLESignalChanged and onDisctanceChanged"
# Problem

I have seen the old repository react-native-nearby-api which has onBLESignalChanged and onDisctanceChanged to get the distance between devices. I couldn't find it in this projekt and would realy like to use it. Is there any chance it gets implemented soon?

[2021-01-01 18:23] mrousavy commented on #89
Hi! I'm not sure if the native APIs expose a "distance" property, couldn't find one in the [API Reference (`GNSMessage`)](https://developers.google.com/nearby/messages/ios/reference/interface_g_n_s_message) 🤔

[2021-01-01 18:27] crystalcase commented on #89
Hey, I am looking at Android at the first place and found [RSSI and distance callbacks] in the API Reference. I tried to use the old library, where those methods are implemented, but it looks like the callbacks do not get triggered.  (https://developers.google.com/nearby/messages/android/advanced#rssi_and_distance_callbacks)

[2021-01-01 18:30] mrousavy commented on #89
Yup, see my edit above.

If you want to take a look at this yourself I'd gladly give you some pointers, it really shouldn't be difficult. Not sure what the best approach for the JS API is though - we could add the distance property to the `Message` object so the user doesn't have to keep track of the references (which message belongs to which distance) themself.

[2021-01-01 19:01] crystalcase commented on #89
Yes a few hints would be nice, I am not familiar with Kotlin though. I think I understood the old java code and the API doc, so i have kind of an idea what to do. I would give it a try

[2021-01-01 19:08] mrousavy commented on #89
1. [This](https://github.com/mrousavy/react-native-google-nearby-messages/blob/master/android/src/main/java/com/mrousavy/nearby/GoogleNearbyMessagesModule.kt#L63-L71) is the messages listener. You can override the distance changed events in here and simply call `handleOnFound` with the new distance (add it to the payload)
2. You probably have to remove `onFound` though, since that would theoretica

[2021-01-01 19:42] crystalcase commented on #89
Alright, I will take a look and try my best. I am new to working on react native libs. Is there a best practice to test my code?

[2021-01-01 21:17] mrousavy commented on #76
Yes, you can share that information by putting it in your message object. There's information on how to "send" data (= publishing) in the repo README.

[2021-01-01 21:17] #76 closed

[2021-01-01 21:17] #44 closed

[2021-01-01 21:18] #38 closed

[2021-01-01 21:18] mrousavy commented on #15
let me know if the problem still occurs 👍

[2021-01-01 21:18] #15 closed

[2021-01-01 21:42] crystalcase commented on #89
I have added some code, [see here](https://github.com/mrousavy/react-native-google-nearby-messages/compare/master...crystalcase:master) Unfortunately, I got the same result as with the old repository. Even with the same issues.

First, both methods do not get called.

Second, I experience an unexpected behaviour: One of my devices 'holds' a found message only for about 5-10 secs and loses it after

[2021-01-02 10:02] mrousavy commented on #89
@crystalcase did you check if they get called by putting breakpoints/log statements in the **native** code?

Not sure about the message being lost, but if you're aware of your re-renders (i.e.: don't re-invoke connect() or subscribe() everytime the component re-renders) and checked the native side then it might actually the official native Google Nearby Messages API causing those problems.

[2021-01-02 11:39] crystalcase commented on #89
I tried to add some logs but I dont get any of the logs written in the native code, only in JS. How do I read the native code logs or debug the whole thing? I am new to this kind of development and just edited the file in node_modules directly for testing.

[2021-01-02 12:28] crystalcase commented on #89
I added some logging and can confirm, that both methods are not getting called. So I assume there is a problem with the nearby messaging api itselft. I also tested setting the Strategy of subscribeOptions to BLE_ONLY, which did not help.

So I think we are stuck here and have no option to get the distance with the nearby messaging api.

[2021-01-02 12:28] #89 closed

[2021-01-02 12:29] mrousavy commented on #89
Too bad. You might want to report a bug at the Google Nearby Messages API bug reporter so this can get fixed soon.

[2021-01-02 12:37] crystalcase commented on #89
I do not think that will help, because it works with BLE beacons only and the google beacon platform is deprecated:

[The Google beacon platform is deprecated as of December 7, 2020. The platform will shut down on April 1, 2021. After this shut down, beacons will no longer be supported within the Nearby Messages API](https://developers.google.com/nearby/messages/android/get-beacon-messages)

Maybe

[2021-01-06 19:49] LeviWilliams commented on #25
@joseL02 is your android app currently working? I'm still unable to fix.

[2021-10-05 05:21] Adichilla opened #97 "Communication between iOS and Android devices is broken"
# Question

Transmitting data from ios to android is not working
(iOS to iOS) (Android - Android) (Android - iOS) is working fine
Attached google issue tracker - [https://issuetracker.google.com/issues/176461658?pli=1](https://issuetracker.google.com/issues/176461658?pli=1)

Why communication is hot happening

# Environment

[code]

[code]

[2021-10-05 08:47] SeanXu1984 opened #98 "[QUESTION] Why unpublish() is not declared as async in index.ts ?"
# Question
Hello Marc,

Why unpublish() is not declared as async in index.ts while in https://github.com/mrousavy/react-native-google-nearby-messages/blob/master/android/src/main/java/com/mrousavy/nearby/GoogleNearbyMessagesModule.kt#L191 it is declared as async?
I mean if I call publish() right after unpublish(), the unpublish might still be in progress, right?
Thanks

# Environment

[code]

[cod

[2021-10-05 12:26] mrousavy commented on #98
You're right! Unpublish should be async too. Can you open a PR to fix this on the JS side?

[2021-10-05 12:28] #98 closed

[2021-10-05 12:28] mrousavy commented on #98
nvm, fixed it

[2021-10-05 12:47] SeanXu1984 commented on #98
Thanks very much for your quick fix.
Now I have noticed the ios side func unpublish() does not seem to be async so the interface change will not break the ios side unpublish() ?

[2021-10-08 19:15] dmytrokruhlyidigitalistgroup commented on #15
I've got the same issue.
Tell me please, where I need to paste this script or mb there are any other solutions for this problem?
Thanks in advance for any help!

[2021-10-12 14:36] LeviWilliams commented on #97
Hey! That attached issue is already resolved, do you have any useful logs or an example of your implementation to trace?

[2021-10-15 12:07] Chinedu25 opened #100 "`new NativeEventEmitter()` was called with a non-null argument without the required `removeListeners` method."
I keep getting this warning when i add the library

`new NativeEventEmitter()` was called with a non-null argument without the required `removeListeners` method.
App@http://localhost:8081/index.bundle?platform=android&dev=true&minify=false&app=com.merchantapptest&modulesOnly=false&runModule=true:109720:41
RCTView
View
RCTView
View
AppContainer@http://localhost:8081/index.bundle?platform=android&de

[2022-01-05 21:44] mdhaney opened #101 "[BUG] Compile error in Swift code"
# Bug

**Describe the bug**
I'm trying to use the library in an Expo project using their EAS build tool (which lets you add third party native modules) and I get the following error while compiling the pod:

![Screen Shot 2022-01-05 at 3 39 30 PM](https://user-images.githubusercontent.com/823734/148293760-89013384-bb88-4ee1-848b-c323057ceb32.png)

Any idea why I could be getting this error?  Do I

[2022-01-06 07:14] mrousavy commented on #101
oh, interesting. Does everything work smoothly if you add an override keyword to that function?

[2022-01-06 19:40] mdhaney commented on #101
Thanks for the quick response!  I thought of trying what you suggested, but unfortunately there's no easy way for me to make that change.  Since I have to use Expo's EAS build, which is a cloud service, the only way I can add modules is through NPM.  So for me to test that, I would have to clone, make the change, and publish a private NPM module which I'm not really setup to do.

How hard would it

[2022-01-09 05:21] mc706 commented on #101
I ran into this same issue, and was able to hack together a fix by updating the override keyword and proxying NPM locally with verdaccio

[2022-01-16 04:57] formula1 opened #102 "[QUESTION] Can this work with two android emulators on the same computer?"
# Question

I'll probably give this a test on my own but maybe this is a question that someone else might have and, thus, it may be good for the search algorithms. But effectively my question is...

So apparently it's not too much of a burden to run multiple emulator instances. [See here](https://stackoverflow.com/questions/45588482/react-native-run-on-multiple-simultaneous-android-emulators). Ano

[2022-04-01 07:03] pritsawa commented on #66
@yippiekaiyay were you able to resolve this issue?

[2022-06-15 13:56] MartsTech opened #111 "[QUESTION] Check if nearby service is allowed on the device"
# Question

Currently when a user wants to use the nearby service, he needs to allow it from the google services notification. Is there a way to check in the app if the user has accepted the service and if he has not done so to show him an alert dialog, where he can accept it.

# Environment

[code]

[2022-07-31 22:46] wassgha opened #112 "Fix missing override keyword"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-google-nearby-messages@1.0.22` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-07-31 22:48] wassgha commented on #101
same as #105 , issue #105 includes fix

[2022-09-19 16:40] #111 closed, assigned to nobody

[2022-09-25 00:55] themorlock opened #113 "[QUESTION]"
# Question

Is there any way to get this to work with Expo? With the latest Expo SDK, it's possible to use native modules without ejecting, but I can't seem to get this library to work.

[2022-11-11 20:26] NiccoloCase commented on #101
@mdhaney Hi, I know that the thread is not very recent, but since I'm trying to implement this package on expo I wonder if you could kindly share the code of the plugin you used.
At the moment I can't even get the library to work on android. In fact, I get the error "Plugin with id 'maven' not found".
Thank you.

[2022-11-14 08:49] NiccoloCase commented on #113
Have you found a solution?

[2022-11-26 23:02] NiccoloCase opened #114 "plugin with id 'maven' not found"
# Question

When using the package with Expo the command `eas build --profile development --platform android ` fails with a series of warnings and errors.

Expo doctor:
[code]

Gradlew:
[code]
This instead is the plugin that I implemented according to the package requests:
[code]
I honestly have no idea if this is the correct implementation, help would be very welcome. Thanks in advance.

# Enviro